<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <h1>User Directory</h1>
      <section class="directory-box">
        {{#users}}
        <div class="user">
          <a href="/users/{{id}}"><img src="{{imageurl}}"></a>
          <h2><a href="/users/{{id}}">{{username}}</a></h2>
          <p>{{#job}}{{job}}{{/job}} {{#company}}{{company}}{{/company}}</p>
          <p>{{^job}}<span class="available">Available for Hire</span>{{/job}}</p>
        </div>
        {{/users}}
      </section>
      <section class="form">
        <h2>Add A User</h2>
        <form class="" action="index.html" method="post">
          <input type="text" name="robotUsername" value="" placeholder="username" required>
          <input type="email" name="robotEmail" value="" placeholder="email">
          <input type="text" name="robotUniversity" value="" placeholder="university">
          <div class="address-one">
            <input type="text" name="robotStreetNumber" value="" placeholder="street #" id="robotStreetNumber">
            <input type="text" name="robotAddress" value="" placeholder="street name" id="robotStreetName">
          </div>
          <input type="text" name="robotCity" value="" placeholder="city">
          <div class="address-two">
            <input type="text" name="robotState" value="" placeholder="state" id="robotState">
            <input type="text" name="robotPostalCode" value="" placeholder="postal code" id="robotPostalCode">
          </div>
          <input type="text" name="robotJob" value="" placeholder="job">
          <input type="text" name="robotCompany" value="" placeholder="company">
          <button type="submit" name="button">Submit</button>
        </form>
      </section>
    </div>
  </body>
</html>
