/* Default Mobile Styles */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

h1, h2, p, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  padding-bottom: 10px;
}

h2 {
  padding: 15px 0 5px;
  font-size: 1.3em;
}

a {
  text-decoration: none;
  color: #289ab9;
}

a:hover {
  color: #1b88a6;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

ul {
  margin: 0;
  list-style-type: none;
}

.directory-box {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 20px 0px 0;
}

.user {
  width: 80%;
  padding: 10px;
  border: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.user img {
  width: 70%;
  height: 70%;
}

.user a {
  text-align: center;
}

.available {
  color: rgb(228, 58, 58);
}

.user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bottom-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
}

.img-box img {
  border-radius: 100%;
  border: 1px solid #cdcdcd;
  margin: 20px;
}

.btn, button {
  margin-top: 20px;
  background-color: #289ab9;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 40px;
  margin: 20px 0;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 3px;
  border: 0;
}

.btn:hover, button:hover {
  color: #fff;
  background-color: #1b88a6;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.form {
  width: 80%;
}

.form h2 {
  text-align: left;
  border-bottom: 2px solid #289ab9;
  width: 100%;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.address-one, .address-two {
  display; flex;
  justify-content: space-between;
  width: 105%;
}

#robotStreetNumber, #robotPostalCode {
  width: 30%;
}


#robotStreetName, #robotState {
  width: 60%;
}

input {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border: 2px solid #cdcdcd;
  font-size: 1em;
}

input:focus {
  outline: 0;
}

.buttons-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-box a:first-child {
  margin-right: 20px;
}

/* Tablet Styles */

@media ( min-width: 600px ) {
  .directory-box {
      justify-content: space-between;
  }

  .user {
    width: 40%;
  }

  .top-box {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .form {
    width: 60%;
  }
}

/* Desktop Styles */

@media ( min-width: 1000px ) {
  h1 {
    font-size: 4em;
  }

  .directory-box {
    justify-content: space-between;
  }

  .user {
    width: 20%;
  }

  .form {
    width: 30%;
  }
}
